.slidingDiv {
    padding:0px;
    margin-top:10px;
    border:5px solid red;
}
 
.show_hide {
    display:none;
}



#timeline {
    margin-left:50px;
    padding: 18px 15px 0 0;
    z-index:-1;
    position:absolute;

}

.list {
    list-style-type:none;
    list-style-size:2em;	
    padding: 0;
    display: block;
    z-index:-1;
}


.line {
    color: #999;
    float: left;
    font-size: 15px;
    text-align: center;
    padding: 15px 0;
    width: 25%;
}

.past {
    color: red;
    float: left;
    font-size: 15px;
    text-align: center;
    padding: 15px 0;
    width: 25%;
}


.selected {
    color: red;
    float: left;
    font-size: 30px;
    text-align: center;
    padding: 15px 0;
    width: 25%;
}

